name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  id-token: write

env:
  HYPHEN_PUBLIC_API_KEY: ${{ secrets.HYPHEN_PUBLIC_API_KEY }}
  HYPHEN_APPLICATION_ID: ${{ secrets.HYPHEN_APPLICATION_ID }}
  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install Dependencies
      run: npm install pnpm -g && pnpm install

    - name: Build    
      run: pnpm build

    - name: Testing    
      run: pnpm test:ci

    - name: Set NPM Auth Token
      run: echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc

    - name: Publish
      run: |
        pnpm publish --provenance --ignore-scripts --access public

